{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Transaction</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.stock | upper }}</td>
                    {% if transaction.price > 0 %}
                        <td>BOUGHT</td>
                    {% else %}
                        <td>SOLD</td>
                    {% endif %}
                    <td>{{ transaction.shares | abs }}</td>
                    <td>${{ transaction.price | abs }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
